<section class="content-container">

  <div class="public-list-meta">
    <h2><strong><%= @list.name %> list</strong> by <%= @list.user.full_name %></h2>
    <time class="list-event-date" datetime="<%= @list.due_date %>" data-time-to="<%= @list.human_due_date %>">
      <%= distance_of_time_in_words_to_now(@list.due_date) %> to go
    </time>
  </div> <!--  .puclic-list-meta -->

  <div class="info-box">
    <p>Click the <i class="icon-check"></i> check to let others know that your are buying this gift for <%= @list.user.first_name %>. If you decide you dont want to get the present, click the <i class="icon-delete"></i> to allow others to buy it.</p>

    <p>Don't worry this list is hidden from <%= @list.user.first_name %>.</p>
  </div> <!--  .info-box -->


  <div class="public-list-gifts-container">
  <% @list.gifts.each do |gift| %>
    <%= render'gifts/single_public_gift', gift: gift %>
  <% end %>
  </div> <!--  .public-gifts -->

</section>
