<section class="content-container">
  <div class="public-list-meta">
    <h2><strong><%= @list.name %> list</strong> by <%= @list.user.full_name %></h2>
    <time class="list-event-date" datetime="<%= @list.due_date %>" data-time-to="<%= @list.human_due_date %>">
      <%= distance_of_time_in_words_to_now(@list.due_date) %> to go
    </time>
  </div> <!--  .puclic-list-meta -->

  <div class="info-box">
    <p>Below is a list of all the gifts <%= @list.user.first_name %> is pining for. When you have bought one click the check button to let others know you have got bought it.</p>

    <p>Now you don't ever have to worry if someone else is going to accidentally buy the same gift.</p>

    <p>And dont worry <%= @list.user.first_name %> will never be able to see this list.</p>
  </div> <!--  .info-box -->


  <div class="public-list-gifts-container">
  <% @list.gifts.each do |gift| %>
    <%= render'gifts/single_public_gift', gift: gift %>
  <% end %>
  </div> <!--  .public-gifts -->

</section>
