<% # This gets used on list#show %>
<%= form_for @list, html: {class: "update-list-form js-list-edit"} do |f| %>
  <fieldset class="inline-fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset class="inline-fields">
    <%= f.label :human_due_date, "Due date" %>
    <%= f.text_field :human_due_date %>
  </fieldset>

  <fieldset class="btn-group">
    <%= f.submit "Update List", class: "btn btn-success" %>
    <a href="#" class="btn btn-warning js-close-list-edit">Cancel</a>
  </fieldset>
<% end %>