<%= form_for @list, html: {class: "create-list-form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :human_due_date %>
  <%= f.submit "Create List" %>
<% end %>

<% if @lists.any? %>
  <% @lists.each do |list| %>
  <p><%= link_to list.name, list_path(list) %></p>
  <% end %>
<% else %>
  No Lists yet
<% end %>