<div class="content-container">
  <section class="list-meta js-meta-container">

    <div class="list-details js-list-details">
      <h2><%= @list.name %></h2>
      <a href="#" class="js-show-meta-form">Edit Details</a>
      <time datetime="<%= @list.due_date %>"><%= @list.human_due_date %></time>
    </div> <!--  .list-details -->

    <%= render'edit_form' %>

  </section> <!--  .list-meta -->

  <%= render'gifts/new_form' %>

  <section class="all-gifts">
    <h2>All gifts</h2>
    <% if @gifts.any? %>
      <% @gifts.each do |gift| %>
        <%= render'gifts/single_gift', gift: gift  %>
      <% end %>
    <% else %>
      <p>No gifts yet</p>
    <% end %>
  </section>



  <p><%= link_to "Delete List", @list, method: :delete, data: { confirm: "You sure?" } %></p>
</div>