<div class="content-container">
  <section class="list-meta js-meta-container">

    <div class="list-details js-list-details">
        <h2><%= @list.name %></h2>
        <time class="list-event-date" datetime="<%= @list.due_date %>" data-time-to="<%= distance_of_time_in_words_to_now(@list.due_date) %> to go" >
          <%= @list.human_due_date %>
        </time>
        <a href="#" class="js-show-meta-form btn btn-primary">Edit Details</a>

      <div class="share-url-container">
        <p>Send this url to your friends & family so they can view your list</p>
        <input type="text" class="share-url" value="<%= @list.public_url(request) %>" readonly>
      </div> <!--  .share-url-container -->

    </div> <!--  .list-details -->

    <%= render'edit_form' %>

  </section> <!--  .list-meta -->

  <%= render'gifts/new_form' %>

  <section class="all-gifts">
    <h2>All gifts</h2>
    <% if @gifts.any? %>
      <% @gifts.each do |gift| %>
        <%= render'gifts/single_gift', gift: gift  %>
      <% end %>
    <% else %>
      <p>No gifts yet</p>
    <% end %>
  </section>


  <div class="danger-zone">
    <%= link_to "Delete List", @list, class: "btn btn-warning", method: :delete, data: { confirm: "You sure?" } %>
  </div> <!--  .danger-zone -->
</div>