<%= best_in_place @list, :name %> - <%= best_in_place  @list, :human_due_date, :display_as => :nice_date_format %>

<%= render 'gifts/form' %>

<% if @gifts.any? %>
  <% @gifts.each do |gift| %>
    <%= render 'gifts/single_gift', gift: gift  %>
  <% end %>

<% else %>
  <p>No gifts yet</p>
<% end %>


<p><%= link_to "Delete List", @list, method: :delete, data: { confirm: "You sure?" } %></p>
