<%= @list.name %> - <%= @list.natural_due_date %>

<%= form_for [@list, @gift], html: {class: "create-gift-form"} do |f| %>
  <fieldset>
    <label>Name:</label>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <label>Price:</label>
    <%= f.text_field :price %>
  </fieldset>
  <fieldset>
    <label>Link:</label>
    <%= f.text_field :link %>
  </fieldset>
  <%= f.submit "Create Gift" %>
<% end %>

<% if @gifts.any? %>
<% @gifts.each do |gift| %>
  <p><%= gift.name %> - <%= number_to_currency(gift.price, unit: "£") %> <%= link_to_if(gift.link, 'Buy Now', gift.link ) %></p>
<% end %>
<% else %>
 <p>No gifts yet</p>
<% end %>


<p><%= link_to "Delete List", @list, method: :delete, data: { confirm: "You sure?" } %></p>
