<div class="container content-container">
  <div class="centered">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class: "new_user user_sign_up"}) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <%= f.label :full_name %>
        <%= f.text_field :full_name, :autofocus => true %>
      </fieldset>

      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "off" %>
      </fieldset>

      <fieldset>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </fieldset>

      <fieldset>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </fieldset>

      <%= f.submit "Sign up", class: "btn btn-success" %>

      <p class="action-switch">Already signed up? <%= link_to "Sign in", new_session_path(resource_name), class: "btn no-border btn-primary with-text" %></p>

    <% end %>

  </div>
</div>