<% cache gift do %>
<div class="single-gift-container js-gift-container">
  <div class="gift-details js-gift-details">

    <div class="gift-meta">
      <i class="icon-gift"></i><%= gift.name -%>
      <%= link_to gift.link, class: 'gift-link' do %>
        <i class="icon-link"></i><%= gift.get_domain -%>
      <% end -%>
    </div>

    <div class="gift-actions">
      <a href="#" class="js-show-gift-meta-form edit-gift icon-edit"></a>
      <%= link_to "", [@list, gift], method: :delete, class: 'delete-gift icon-delete', data: { confirm: "You sure?" } %>
    </div> <!--  .gift-actions -->

  </div> <!--  .gift-details js-gift-details -->

  <%= render'gifts/edit_form', gift: gift %>

</div> <!--  .single-gift-container -->
<% end %>