<% cache gift do %>
<div class="single-public-gift">

  <% if gift.user.nil? # Gift is available to buy %>
  <p>
    <%= link_to gift.link, class: 'icon-gift gift-link' do %>
      <%= gift.name %>
      <i class="icon-link"></i>
    <% end %>

    <%= link_to '', public_gift_update_path(@list.public_hash, gift.id), class: 'gift-meta icon-check larger-icons js-mark-gift js-mark-gift--buy', method: :put %>
    <span class="icon-desc">Mark this gift as bought</span>

  <% elsif gift.user == current_user # User is buying this gift %>
  <p>
    <%= link_to gift.link, class: 'icon-gift gift-success gift-link' do %>
      <%= gift.name %>
      <i class="icon-link"></i>
    <% end %>

    <%= link_to '', public_gift_update_path(@list.public_hash, gift.id), class: 'gift-meta icon-delete larger-icons js-mark-gift js-mark-gift--remove', method: :put %>
    <span class="icon-desc">Don't buy this gift anymore</span>

  <% else # Another user is buying this gift %>
  <p class="single-gift--bought">
    <span class="icon-gift gift-bought"> <%= gift.name %></span>
    <span class="gift-meta no-action"><%= gift.user.full_name %> has already bought this</span>

  <% end %>
  </p>

</div> <!--  .single-public-gift -->
<% end %>