<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h2>Create & share gift lists with your friends & family</h2>
      <%= link_to "Sign Up for free", new_user_registration_path, class: "btn btn-success btn-block" %>
    </div> <!--  .hero-text -->
  </div> <!--  .container -->
</section> <!--  .hero -->

<section class="description">
  <div class="container">
    <div class="step">
    <%= image_tag "step-1@2x.png", class: "step-1" %>
      <p>It's super easy to use <span class="logo-text">Pine<span>for</span></span>, simply create your list</p>

    </div> <!--  .column -->

    <div class="step">
    <%= image_tag "step-2@2x.png", class: "step-2" %>
      <p>Add the gifts you're pining for to the list, you can even add a link to where you found it</p>


    </div> <!--  .column -->

    <div class="step">
    <%= image_tag "step-3@2x.png", class: "step-3" %>
      <p>Share the list with your loved ones, with the unique shareable url</p>

    </div> <!--  .column -->

    <div class="step">
    <%= image_tag "step-4@2x.png", class: "step-4" %>
      <p>They can then choose the gifts they want to get you & and it will all be a secret until your big day</p>

    </div> <!--  .column -->
  </div> <!--  .container -->
</section> <!--  .description -->