<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pinefor</title>
  <meta name="description" content="Create gift lists that you can share with your friends and family & have them securely pick and choose which gifts to get you.">
  <meta name="viewport" content="width=device-width, minimal-ui">

  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6776652/634764/css/fonts.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: [name, 'flash'] %>
    <% end %>
  </div>

  <%= render'layouts/header' %>

  <%= yield %>

  <%= render'layouts/footer' %>

  <%= render'layouts/analytics' if Rails.env.production? %>

</body>
</html>